{% extends "trix/base.django.html" %}
{% load i18n %}
{% load extjs %}

{% block appjs %}
{% include "trix/restful.js" %}
{{ block.super }}
var DASHBOARD_URL = '{{ DEVILRY_URLPATH_PREFIX }}/trix/trixadmin/';
Ext.SSL_SECURE_URL = 'javascript:""';

Ext.define('trix.apps.trix.simplified.topic.SimplifiedTopicSearch', {
    extend: 'Ext.data.Model',
    requires: ['devilry.extjshelpers.RestProxy'],
    fields: [{"type": "int", "name": "id"}, {"type": "auto", "name": "name"}],
    idProperty: 'id',
    proxy: Ext.create('devilry.extjshelpers.RestProxy', {
        url: '/trix/restfulsimplifiedtopic/',
        extraParams: {
            getdata_in_qrystring: true,
            result_fieldgroups: '[]'
        },
        reader: {
            type: 'json',
            root: 'items',
            totalProperty: 'total'
        },
        writer: {
            type: 'json'
        }
    })
});
Ext.create('Ext.data.Store', {
    model: 'trix.apps.trix.simplified.topic.SimplifiedTopicSearch',
    id: 'trix.apps.trix.simplified.topic.SimplifiedTopicStoreSearch',
    remoteFilter: true,
    remoteSort: true,
    autoSync: true
});

{% for RestfulCls in restfulapi.values %}
{{ RestfulCls|extjs_combobox_model:"Search" }};
{{ RestfulCls|extjs_store:"Search" }};
{% endfor %}
{% endblock %}

{% block onready %}
{{ block.super }}

Ext.create('Ext.data.Store', {
    model: 'trix.apps.trix.simplified.node.SimplifiedNodeSearch',
    id: 'trix.apps.trix.simplified.node.SimplifiedNodeStoreSearch',
    remoteFilter: true,
    remoteSort: true,
    autoSync: true
});
Ext.create('Ext.data.Store', {
    model: 'trix.apps.trix.simplified.period.SimplifiedPeriodSearch',
    id: 'trix.apps.trix.simplified.period.SimplifiedPeriodStoreSearch',
    remoteFilter: true,
    remoteSort: true,
    autoSync: true
});
Ext.create('Ext.data.Store', {
    model: 'trix.apps.trix.simplified.exercise.SimplifiedExerciseSearch',
    id: 'trix.apps.trix.simplified.exercise.SimplifiedExerciseStoreSearch',
    remoteFilter: true,
    remoteSort: true,
    autoSync: true
});
Ext.create('Ext.data.Store', {
    model: 'trix.apps.trix.simplified.periodgroup.SimplifiedPeriodGroupSearch',
    id: 'trix.apps.trix.simplified.periodgroup.SimplifiedPeriodGroupStoreSearch',
    remoteFilter: true,
    remoteSort: true,
    autoSync: true
})
Ext.create('Ext.data.Store', {
    model: 'trix.apps.trix.simplified.periodexercise.SimplifiedPeriodExerciseSearch',
    id: 'trix.apps.trix.simplified.periodexercise.SimplifiedPeriodExerciseStoreSearch',
    remoteFilter: true,
    remoteSort: true,
    autoSync: true
});
Ext.create('Ext.data.Store', {
    model: 'trix.apps.trix.simplified.student.SimplifiedStudentSearch',
    id: 'trix.apps.trix.simplified.student.SimplifiedStudentStoreSearch',
    remoteFilter: true,
    remoteSort: true,
    autoSync: true
});
Ext.create('Ext.data.Store', {
    model: 'trix.apps.trix.simplified.subject.SimplifiedSubjectSearch',
    id: 'trix.apps.trix.simplified.subject.SimplifiedSubjectStoreSearch',
    remoteFilter: true,
    remoteSort: true,
    autoSync: true
});
var searchwidget = Ext.create('trix.AdminSearchWidget', {
    //renderTo: 'searchwidget-container',
    hidden: true,
    urlPrefix: DASHBOARD_URL,
    periodRowTpl: '\u003Cdiv class\u003D\u0022section popuplistitem\u0022\u003E    \u003Cp class\u003D\u0022path\u0022\u003E{parentnode__long_name}\u003C/p\u003E    \u003Ch1\u003E{long_name:ellipsis(40)}\u003C/h1\u003E\u003C/div\u003E',
    topicRowTpl: '\u003Cdiv class\u003D\u0022section popuplistitem\u0022\u003E\u003Ch1\u003E{name}\u003C/h1\u003E\u003C/div\u003E',
    periodgroupRowTpl: '\u003Cdiv class\u003D\u0022section popuplistitem\u0022\u003E    \u003Cp class\u003D\u0022path\u0022\u003E{subject__long_name}\u003C/p\u003E    \u003Ch1\u003E{long_name:ellipsis(40)}\u003C/h1\u003E\u003C/div\u003E',
    exerciseRowTpl: '\u003Cdiv class\u003D\u0022important\u0022\u003E{short_name}\u003C/div\u003E\u003Cdiv class\u003D\u0022unimportant\u0022\u003E{long_name}\u003C/div\u003E',
});
searchwidget.loadInitialValues();

{% endblock %}

