{% extends "trix/trixadmin/base.django.html" %}
{% load extjs %}
{% load i18n %}

{% block imports %}
{{ block.super }}
{% endblock %}

{% block appjs %}
{% include "trix/restful-models.js" %}

{{ block.super }}
    Ext.require('trix_extjshelpers.formfields.ForeignKeySelector');
    Ext.require('trix_extjshelpers.RestfulSimplifiedEditWindowBase');
    Ext.require('trix_extjshelpers.RestfulSimplifiedEditPanel');
    Ext.require('trix_extjshelpers.ButtonBarButton');
    Ext.require('trix_extjshelpers.ButtonBar');
    Ext.require('trix.forms.Exercise');
    Ext.require('trix.ModelView');
    Ext.require('trix.ExerciseView');
    Ext.require('trix.Exercise');
{% endblock %}

{% block onready %}
{{ block.super }}

    Ext.create('Ext.container.Viewport', {
        layout: 'border',
        style: 'background-color: transparent',
        items: [{
            region: 'north',
            xtype: 'trixheader',
            navclass: 'administrator'
        }, {
            region: 'south',
            xtype: 'trixfooter',
        }, {
            region: 'center',
            xtype: 'container',
            region: 'center',
            padding: "0 20px 0 20px",
            flex: 2,
            layout: {
                type: 'vbox',
                align: 'stretch'
            },
            items: [searchwidget, {
                xtype: 'exerciseview',
                modelname: 'trix.Exercise',
                objectid: {{ objectid }},
                dashboardUrl: DASHBOARD_URL,
                flex: 1
            }]
        }]
    });

    searchwidget.show();
    Ext.getBody().unmask();
{% endblock %}
