{% extends "trix/trixadmin/base.django.html" %}
{% load extjs %}
{% load i18n %}

{% block imports %}
{{ block.super }}
{% endblock %}

{% block appjs %}
{{ block.super }}
    Ext.require('devilry.extjshelpers.formfields.ForeignKeySelector');
    Ext.require('devilry.extjshelpers.RestfulSimplifiedEditWindowBase');
    Ext.require('devilry.extjshelpers.RestfulSimplifiedEditPanel');
    Ext.require('devilry.extjshelpers.ButtonBarButton');
    Ext.require('devilry.extjshelpers.ButtonBar');
    Ext.require('trix.forms.Exercise');
    Ext.require('trix.ModelView');
    Ext.require('trix.ExerciseView');
    Ext.require('trix.Exercise');
    Ext.define('trix.apps.trix.simplified.topic.SimplifiedTopic', {
            extend: 'Ext.data.Model',
            requires: ['devilry.extjshelpers.RestProxy'],
            fields: [{"type": "int", "name": "id"}, {"type": "auto", "name": "name"}],
            idProperty: 'id',
            proxy: Ext.create('devilry.extjshelpers.RestProxy', {
                url: '/trix/restfulsimplifiedtopic/',
                extraParams: {
                    getdata_in_qrystring: true,
                    result_fieldgroups: '[]'
                },
                reader: {
                    type: 'json',
                    root: 'items',
                    totalProperty: 'total'
                },
                writer: {
                    type: 'json'
                }
            })
        });
{% endblock %}

{% block onready %}
{{ block.super }}

    Ext.create('Ext.container.Viewport', {
        layout: 'border',
        style: 'background-color: transparent',
        items: [{
            region: 'north',
            xtype: 'trixheader',
            navclass: 'administrator'
        }, {
            region: 'south',
            xtype: 'trixfooter',
        }, {
            region: 'center',
            xtype: 'container',
            region: 'center',
            padding: {left: 20, right: 20},
            flex: 2,
            layout: {
                type: 'vbox',
                align: 'stretch'
            },
            items: [searchwidget, {
                xtype: 'exerciseview',
                modelname: 'trix.Exercise',
                objectid: {{ objectid }},
                dashboardUrl: DASHBOARD_URL,
                flex: 1
            }]
        }]
    });

    searchwidget.show();
    Ext.getBody().unmask();
{% endblock %}
