{% extends "trix/trixadmin/base.django.html" %}

{% load i18n %}

{% block imports %}
{{ block.super }}
{% endblock %}

{% block appjs %}

{% include "trix/restful.js" %}

{{ block.super }}
    Ext.require('devilry.extjshelpers.formfields.ForeignKeySelector');
    Ext.require('devilry.extjshelpers.RestfulSimplifiedEditWindowBase');
    Ext.require('devilry.extjshelpers.RestfulSimplifiedEditPanel');
    Ext.require('devilry.extjshelpers.ButtonBarButton');
    Ext.require('devilry.extjshelpers.ButtonBar');
    Ext.require('trix.forms.Exercise');
    Ext.require('trix.ModelView');
Ext.require('trix.TopicView');

Ext.define('trix.apps.trix.simplified.topic.SimplifiedTopic', {
            extend: 'Ext.data.Model',
            requires: ['devilry.extjshelpers.RestProxy'],
            fields: [{"type": "int", "name": "id"}, {"type": "auto", "name": "name"}],
            idProperty: 'id',
            proxy: Ext.create('devilry.extjshelpers.RestProxy', {
                url: '/trix/restfulsimplifiedtopic/',
                extraParams: {
                    getdata_in_qrystring: true,
                    result_fieldgroups: '[]'
                },
                reader: {
                    type: 'json',
                    root: 'items',
                    totalProperty: 'total'
                },
                writer: {
                    type: 'json'
                }
            })
        });
    Ext.define('trix.apps.trix.simplified.exercise.SimplifiedExercise', {
            extend: 'Ext.data.Model',
            requires: ['devilry.extjshelpers.RestProxy'],
            fields: [{"type": "int", "name": "id"}, {"type": "auto", "name": "short_name"}, {"type": "auto", "name": "long_name"}, {"type": "auto", "name": "text"}, {"type": "int", "name": "points"}, {"type": "int", "name": "topics__id"}, {"type": "int", "name": "prerequisites__id"}, {"type": "auto", "name": "fake_topics"}, {"type": "auto", "name": "fake_prerequisites"}],
            idProperty: 'id',
            proxy: Ext.create('devilry.extjshelpers.RestProxy', {
                url: '/trix/restfulsimplifiedexercise/',
                extraParams: {
                    getdata_in_qrystring: true,
                    result_fieldgroups: '[]'
                },
                reader: {
                    type: 'json',
                    root: 'items',
                    totalProperty: 'total'
                },
                writer: {
                    type: 'json'
                }
            })
        });
    var exercisestore = Ext.create('Ext.data.Store', {
            model: 'trix.apps.trix.simplified.exercise.SimplifiedExercise',
            id: 'trix.apps.trix.simplified.exercise.SimplifiedExerciseStore',
            remoteFilter: true,
            remoteSort: true,
            autoSync: true
});
exercisestore.load();

{% endblock %}
{% block onready %}
{{ block.super }}

    Ext.create('Ext.container.Viewport', {
        layout: 'border',
        style: 'background-color: transparent',
        items: [{
            region: 'north',
            xtype: 'trixheader',
            navclass: 'administrator'
        }, {
            region: 'south',
            xtype: 'trixfooter',
        }, {
            region: 'center',
            xtype: 'container',
            region: 'center',
            padding: {left: 20, right: 20},
            flex: 2,
            layout: {
                type: 'vbox',
                align: 'stretch'
            },
            items: [searchwidget, {
                xtype: 'topicview',
                modelname: 'trix.apps.trix.simplified.topic.SimplifiedTopic',
                objectid: {{ objectid }},
                exercisestore: exercisestore,
                dashboardUrl: DASHBOARD_URL,
                flex: 1
            }]
        }]
    });

    searchwidget.show();
    Ext.getBody().unmask();
{% endblock %}
