{% extends "trix/trixadmin/base.django.html" %}

{% load i18n %}

{% block imports %}
{{ block.super }}
{% endblock %}

{% block appjs %}

{% include "trix/restful-models.js" %}

{{ block.super }}
Ext.require('devilry.extjshelpers.formfields.ForeignKeySelector');
Ext.require('devilry.extjshelpers.RestfulSimplifiedEditWindowBase');
Ext.require('devilry.extjshelpers.RestfulSimplifiedEditPanel');
Ext.require('devilry.extjshelpers.ButtonBarButton');
Ext.require('devilry.extjshelpers.ButtonBar');
Ext.require('trix.forms.Exercise');
Ext.require('trix.ModelView');
Ext.require('trix.TopicView');


var exercisestore = Ext.create('Ext.data.Store', {
    model: 'trix.apps.trix.simplified.exercise.SimplifiedExercise',
    id: 'trix.apps.trix.simplified.exercise.SimplifiedExerciseStore',
    remoteFilter: true,
    remoteSort: true,
    autoSync: true
});
//exercisestore.load();

{% endblock %}
{% block onready %}
{{ block.super }}

Ext.create('Ext.container.Viewport', {
    layout: 'border',
    style: 'background-color: transparent',
    items: [{
        region: 'north',
        xtype: 'trixheader',
        navclass: 'administrator'
    }, {
        region: 'south',
        xtype: 'trixfooter',
    }, {
        region: 'center',
        xtype: 'container',
        region: 'center',
        padding: {left: 20, right: 20},
        flex: 2,
        layout: {
            type: 'vbox',
            align: 'stretch'
        },
        items: [searchwidget, {
            xtype: 'topicview',
            modelname: 'trix.apps.trix.simplified.topic.SimplifiedTopic',
            objectid: {{ objectid }},
            exercisestore: exercisestore,
            dashboardUrl: DASHBOARD_URL,
            flex: 1
        }]
    }]
});

searchwidget.show();
Ext.getBody().unmask();
{% endblock %}
