{# <!DOCTYPE HTML> #}
{% load i18n %}
{% load static %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
      <title>
            {% block title %}{{ page_title|default:"Trix" }}{% endblock %}
        </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >

        <link rel="stylesheet" href="{{ DEVILRY_STATIC_URL }}/trix/common.css"
            type="text/css" media="screen" charset="utf-8"/>

        {% if debug %}
        {% endif %}

        <!-- ** ExtJS ** -->
        <link rel="stylesheet" type="text/css" media="screen" href="{% static "extjs4/resources/css/ext-all-gray.css" %}" />

        <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
	{% if EXTJS4_DEBUG %}
        <script type="text/javascript" src='{% static "extjs4/ext-all-debug.js" %}'></script>
	{% else %}
	<script type="text/javascript" src='{% static "extjs4/ext-all.js" %}'></script>
	{% endif %}

        <script type="text/javascript" src="{{ DEVILRY_STATIC_URL }}/trix_extjshelpers/formatoverrides.js"></script>
	<script type="text/javascript" src="{{ DEVILRY_STATIC_URL }}/devilry_extjsextras/form/DateTimeField.js"></script>
        <script type="text/javascript">
            // Path to the blank image should point to a valid location on your server
            Ext.BLANK_IMAGE_URL = '{% static "extjs4/resources/themes/images/default/tree/s.gif" %}';
            Ext.Loader.setConfig({
                enabled: true,
                paths: {
	            'trix_extjshelpers': '{{ DEVILRY_STATIC_URL }}/extjshelpers_classes/extjshelpers',
                'devilry': '{{ DEVILRY_STATIC_URL }}/extjs_classes',
                'Ext': '{{ DEVILRY_STATIC_URL }}/extjsux',
                'trix': '{{ DEVILRY_STATIC_URL }}/extjstrix',
	            'devilry_extjsextras': '{{ DEVILRY_STATIC_URL }}/devilry_extjsextras',
	            'devilry_authenticateduserinfo': '{{ DEVILRY_STATIC_URL }}/devilry_authenticateduserinfo'
                }
            });

            Ext.Ajax.defaultHeaders = {
                    'X_DEVILRY_USE_EXTJS': true
            };

            Ext.define('DevilrySettings', {
                singleton: true,
                DEVILRY_STATIC_URL: '{{ DEVILRY_STATIC_URL }}',
                DEVILRY_URLPATH_PREFIX: '{{ DEVILRY_URLPATH_PREFIX }}',
                DEVILRY_LOGOUT_URL: '{{ DEVILRY_LOGOUT_URL }}',
                DEVILRY_LOGIN_URL: '{% url login %}'
            });

            Ext.define('DevilryUser', {
                singleton: true,
                is_authenticated: {{ user.is_authenticated|yesno:"true,false" }},
                username: '{{ user.username }}'
            });

            Ext.onReady(function() {
                Ext.QuickTips.init();
            });
        </script>

        {% if not debug %}
            <!-- <script type="text/javascript" src="{{ DEVILRY_STATIC_URL }}/devilry_all_uncompiled.js"></script> -->
        {% endif %}

        <script type="text/javascript">
            {% block imports %}
                Ext.require('trix.page.Header');
                Ext.require('trix.page.Footer');
            {% endblock %}
            {% block appjs %}{% endblock %}
            Ext.onReady(function() {
                {% block onready %}
                    //Ext.getBody().mask("Loading page", 'page-load-mask');
                {% endblock%}
            });
        </script>

        {% block headextra %}
        {% endblock %}

        <link rel="stylesheet" href="{{DEVILRY_STATIC_URL}}/trix/style.css"
              type="text/css" media="screen" charset="utf-8"/>
        <link rel="stylesheet" href="{{DEVILRY_STATIC_URL}}/trix/print.css"
              type="text/css" media="print" charset="utf-8"/>
    </head>

    <body>
      {% block bodyContent %}
      {% endblock %}
    </body>
</html>
