{% extends "trix/base.django.html" %}
{% load extjs %}
{% load i18n %}

{% block title %}{% trans "Exercises" %}{% endblock %}

{% block nav-class %}trix{% endblock %}

{% block headextra %}

<script type="text/javascript">
{% include "trix/restful-models.js" %}
{% include "trix/restful-stores.js" %}
// TODO: these stores are pretty much untested
// do some testing that exercises these.
</script>

<link rel="stylesheet" href="{{DEVILRY_STATIC_URL }}/trix/print.css"
      type="text/css" media="print" charset="utf-8"/>

<script type="text/javascript">
  toggleExc = function(link) {
    elem = link;
    while (elem && elem.getAttribute("class") != "exctext") {
      do {
        elem = elem.nextSibling;
      } while (elem.nodeType !== 1);
    }

    if (elem) {
      if (elem.style.display == 'none') {
        elem.style.display = 'block';
        link.innerHTML = "{% trans "Hide exercise" %}";
      } else {
        elem.style.display = 'none';
        link.innerHTML = "{% trans "Show exercise" %}";
      }
    }
  }

  var statuses = Array();
  var unsolved = "{% trans "Unsolved" %}";
  var change_str = "{% trans "Change status" %}";
  var reset_str = "{% trans "Reset status" %}";
  {% for status in statuses %}
    statuses[{{ status.id }}] = "{{status.name}}";
  {% endfor %}
</script>
<script src="{{DEVILRY_STATIC_URL}}/trix/setstatus.js"></script>

<script type="text/javascript">
    var DASHBOARD_URL = '{{ DEVILRY_URLPATH_PREFIX }}/trix/';
    groupstore = findStore('trix.apps.trix.simplified.periodgroup.SimplifiedPeriodGroupStore');
</script>
    
{% endblock %}

{% block imports %}
{{ block.super }}
Ext.require('trix.GroupList');
{% endblock %}

{% block onready %}
{{ block.super }}

/*    var grouplist = Ext.create('trix.GroupList', {
        modelname: {{ restfulapi.RestfulSimplifiedStudent|extjs_modelname }},
        {% if user.id %}objectid: {{ user.id }},{% endif %}
        groupstore: groupstore
    });*/
    var searchwidget = Ext.create('trix.TrixSearchWidget', {
    //renderTo: 'searchwidget-container',
        hidden: true,
        urlPrefix: DASHBOARD_URL,
	periodRowTpl: '\u003Cdiv class\u003D\u0022section popuplistitem\u0022\u003E    \u003Cp class\u003D\u0022path\u0022\u003E{parentnode__long_name}\u003C/p\u003E    \u003Ch1\u003E{long_name:ellipsis(40)}\u003C/h1\u003E\u003C/div\u003E',
        topicRowTpl: '\u003Cdiv class\u003D\u0022section popuplistitem\u0022\u003E\u003Ch1\u003E{name}\u003C/h1\u003E\u003C/div\u003E',
        exerciseRowTpl: '\u003Cdiv class\u003D\u0022section popuplistitem\u0022\u003E    \u003Cp class\u003D\u0022path\u0022\u003E{period__long_name} \u002D     \u003Ctpl for\u003D\u0022exercise__topics__name\u0022\u003E{.}    \u003Ctpl if\u003D\u0022xindex \u0026lt\u003B xcound\u0022\u003E\u002D\u003C/tpl\u003E    \u003C/tpl\u003E    \u003C/p\u003E    \u003Ch1\u003E{exercise__long_name}\u003C/h1\u003E\u003C/div\u003E',
    });
    searchwidget.loadInitialValues();

    Ext.getBody().unmask();
    Ext.create('Ext.container.Viewport', {
        layout: 'border',
        style: 'background-color: transparent',
        items: [{
            region: 'north',
            xtype: 'trixheader',
            navclass: 'student'
        }, {
            region: 'south',
            xtype: 'trixfooter'
        }, {
            region: 'center',
            xtype: 'container',
            border: false,
            region: 'center',
            padding: {left: 20, right: 20},
            flex: 2,
            layout: {
                type: 'vbox',
                align: 'stretch'
            },
            items: [searchwidget, {xtype: 'box', height: 20},
                {% if user.is_authenticated %}/*grouplist,*/{% endif %}
                {
                   xtype: 'box',
                   flex: 1,
                   autoScroll: true,
                   componentCls: 'exercises',
                   html:
{% comment %}
{% if user.is_authenticated %}
'<!--' +
'<div class="levelinfo">'+
  {% include "trix/xpbar.django.html" %}
'  <div>{% trans "Total points" %}:'+
'    <span id="total_points">{{ level.total_points }}</span>'+
'  </div>'+
'</div>'+
'-->'+
{% endif %}
{% endcomment %}

''
{% if not exercises.items %}
+ '<div>' +
(window.location.pathname.indexOf('topic') != -1 ?
'{% trans "No exercises have been given for this topic." %} '
: (window.location.pathname.indexOf('period') != -1 ?
'{% trans "No exercises have been given in this period." %} '
: '{% trans "There are no active periods." %} ')) +
'{% trans 'Try searching for a period or topic in the bar above or click "browse" to see all of them.' %}' +
'</div>'
{% endif %}
{% for p, p_excs in exercises.items %}
+ '<table class="exercises {% if p in followedperiods %}followed{% else %}unfollowed{% endif %}">' +
'  <caption><div>{{ p.parentnode.long_name|escapejs }}</div><h2>{{ p.long_name|escapejs }}</h2></caption>{% comment %}' +
'  <thead>' +
'    <tr>' +
'      <th' +
'         {% if statuses %}class="maincol"{% endif %}' +
'         >{% trans "Exercise" %}</th>' +
      {% if statuses %}
'      <th>{% trans "Status" %}</th>' +
      {% comment %}
      {% for status in statuses %}
'      <th class="statusbutton">{{ status.name|escapejs }}</th>' +
      {% endfor %}
'      <th class="statusbutton">{% trans "Unsolved" %}</th>' +
      {% endcomment %}{% comment %}
      {% endif %}
'    </tr>' +
'  </thead>{% endcomment %}' +
'  <tbody>' +
    
    {% for k, e in p_excs.items %}
'    <tr>' +
'      <td {% if statuses %} class="maincol">' +
'        <a class="dispexc" href="javascript:void(0)" onClick="toggleExc(this)">' +
          {% if e.status == -1 %}
'          {% trans "Hide exercise" %}' +
          {% else %}
'          {% trans "Show exercise" %}' +
          {% endif %}
'        </a>' +
        {% else %}>' +
        {% endif %}
'        <h3>' +
'          {{ e.number }}.&nbsp;{% if e.starred %}<img class="star" src="{{DEVILRY_STATIC_URL}}/trix/icons/star.png" />&nbsp;{% endif %}{{ e.title|escapejs }}' +
          {% autoescape off %}
'          &mdash;&nbsp;{{ e.points }}&nbsp;{% trans "points" %}</h3>' +
'        <div class="topiclist"><div>{% trans "Topics" %}:' +
      {% for topic in e.topics %}
'          <a href="/trix/topic/{{ topic.id }}">{{ topic.name }}</a>' +
        {% if not forloop.last %}
', ' +
        {% endif %}
      {% endfor %}
      {% if e.prerequisites %}
'        </div><div>{% trans "Prerequisites" %}:' +
      {% for topic in e.prerequisites %}
'          <a href="/trix/topic/{{ topic.id }}">{{ topic.name }}</a>' +
        {% if not forloop.last %}
', ' +
        {% endif %}
      {% endfor %}
      {% endif %}
'        </div></div>' +

'        <div class="exctext" {% if statuses and e.status != -1 %}' +
'             style="display: none"{% endif %}> {{ e.text|escapejs }}</div>' +
        {% endautoescape %}
'      </td>' +
      {% if statuses %}
'      <td class="statusbutton">' +
'        <div class="choices" {% if e.status != -1 %}style="display: none;"{% endif %}>{% for status in statuses %}<a href="javascript:void(0)" onclick="setStatus(this, {{e.id}}, {{status.id}})">{{status.name|escapejs}}</a>&nbsp;{% endfor %}</div>' +
'        <div class="status" {% if e.status == -1 %}style="display: none;"{% endif %}>{{ e.status_name }} - <a href="javascript:void(0)" onclick="showChoices(this)">{% trans "Change status" %}</a> <a href="javascript:void(0)" onclick="setStatus(this, {{e.id}}, \'-1\')">{% trans "Reset status" %}</a></div>' +
'      </td>' +
      {% endif %}
'    </tr>' +
    {% endfor %}
'  </tbody>' +
'</table>'
{% endfor %}
            }]
        }]
    });

  searchwidget.show();
{% endblock %}
{% block bodycontent %}

{% endblock %}
